/*CSS Reset*/
*, *::before, *::after{
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

body {
    line-height: calc(1em + 0.5rem);
    -webkit-font-smoothing: antialiased;
}

img, svg, video {
    display: block;
    max-width: 100%;
}

textarea, button, input, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/*Actual styling*/
:root {
    --color-light: #e3e9e7;
    --color-main: #115e59;
    --color-subtext: #5e5e5e;
    --color-select: #5eead4;
    
    --border-radius: 10px;
    --padding-cards: 1.6rem;
    --shadow-black: 2px 4px 5px rgba(0, 0, 0, 0.2);

    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}  

/*Basic page layout*/
body {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 230px auto;
    
    background-color: var(--color-light);
    font-family: "Roboto", var(--system-ui);
}

header {
    background-color: #fff;
    grid-column: 2;
    grid-row: 1;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;

    background-color: var(--color-main);
    color: #fff;
}

.main-content {
    grid-column: 2;
    grid-row: 2;
}

ul {
    list-style: none;
}

ul a {
    text-decoration: none;
    color: white;
}

/*Sidebar Grid*/
.sidebar {
    padding: 30px 16px;
    font-size: 1.4rem;
    font-weight: 400;
}

nav li a,
h1.branding{
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    grid-gap: 1.2rem;
}

.sidebar h1 {
    font-size: 2rem;
    margin-bottom: 4rem;
}

h1 .svg-icon {
    width: 1.3em;
}

.svg-icon {
    width: 1em;
}

nav {
    margin-left: .6rem;

    & ul {
        margin-bottom: 5rem;
    }

    & li {
        margin-bottom: 1.4rem;
    }
}

/*Main Content grid layout*/
.main-content {
    padding: 40px 24px;

    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: min-content 1fr;
    grid-template-areas: "projects announcements"
                         "projects trending";
    column-gap: 25px;
    row-gap: 50px;
}

.main-content h2 {
    margin-bottom: 1rem;
    font-weight: 400;
}

.projects {
    grid-area: projects;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}

/*Project cards grid layout*/
.projects-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(260px, 1fr));
    grid-auto-rows: 320px;
    grid-gap: 24px;
}

.project-card {
    padding: var(--padding-cards);
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: inset 8px 0 orange,
                var(--shadow-black);

    display: flex;
    flex-direction: column;

    & h3 {
        margin-bottom: 0.4rem;
    }

    & p {
        font-size: 1.1rem;
        color: var(--color-subtext)
    }
}

.buttons-wrapper {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: end;
    grid-gap: 1rem;

    margin-top: auto;
}

.buttons-wrapper button {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;

    position: relative;
    z-index: 1;

    transition: transform 0.3s ease-in;
}

.buttons-wrapper button::after{
    content: " ";
    width: 20px;
    height: 20px;
    background-image: url("./img/blob.svg");
    background-size: contain;
    border-radius: 50%;

    position: absolute;
    top: 2px;
    left: 2px;
    z-index: -1;

    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.buttons-wrapper button:hover,
.buttons-wrapper button:active {
    transform: scale(1.4);
    &::after {
        transform: scale(1.2);
    }

}

/*Announcements layout*/
.announcements-wrapper {
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: var(--padding-cards);
    box-shadow: var(--shadow-black);
}

.announcements-wrapper h3 {
    font-size: 1.1rem;
    margin-bottom: 0.4rem;
}
.announcements-wrapper p {
    font-size: 0.9rem;
    color: var(--color-subtext)
}

.announcements-wrapper > div + div {
    border-top: 1px solid grey;
    margin-top: 20px;
    padding-top: 20px;
}

.announcements-wrapper a {
    color: black;
    text-decoration: none;

    & :hover {
        text-decoration: underline;
    }
}

/*Trending items' styling*/
.trending-wrapper {
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: var(--padding-cards);
    box-shadow: var(--shadow-black);
}

.user-icon{
    display: block;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#user-1 {
    background-image: url("./img/author-1.png");
    background-color: #236d98;
}

#user-2 {
    background-image: url("./img/author-2.png");
    background-color: #239896;
    background-size: 95%;
    background-position-y: bottom;
}

#user-3 {
    background-image: url("./img/author-3.png");
    background-size: 65%;
    background-color: #239848;
}

#user-4 {
    background-image: url("./img/author-4.png");
    background-color: #eca41e;
}

p.trending-title {
    color: var(--color-subtext);
    font-size: 1rem;
}

/*Trending layout*/
li.trending-item {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-areas: "icon name"
                         "icon title";
    column-gap: 16px;
    & > .user-icon {
        grid-area: icon;
    }

    & > .user-name {
        grid-area: name;
        align-self: end;
        font-size: 1.1rem ;
    }

    & > .trending-title {
        grid-area: title;
        font-size: 1rem;
    }
}

li.trending-item + li.trending-item {
    margin-top: 1.6em;
}

/*Header*/
header {
    padding: 30px 60px;
    display: grid;
    grid-template-columns: 4fr min-content max-content;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    row-gap: 20px;
    column-gap: 40px;

    & > .actions-wrapper {
        grid-column: 2 / 4;
    }
}

button.notification,
.user-info {
    justify-self: end;
}

/*Search Styling*/
input[type="search"] {
    appearance: none;
    -webkit-appearance: none;

    position: relative;
    outline: none;
    width: 80%;
    min-width: 300px;
    height: 40px;
    border: none;
    background-color: var(--color-light);
    border-radius: 3rem;

    padding: 20px;
}

label[for="search"] {
    content: url("./img/search-icon.svg");
    width: 30px;
    vertical-align: -10px;
    margin-right: 1rem;
}

/*Notification Styling*/
button.notification {
    background: transparent;
    border: none;
    width: 30px;
    height: 30px;
    stroke: var(--color-main);
    stroke-width: 2px;
    fill: none;
    transition: all 0.2s ease;
}

button.notification:hover,
button.notification:active {
    fill: var(--color-main);
    transform: scale(1.2);
}

/*User Info Layout*/
.header > .user-info {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    grid-gap: 16px;

    & > p {
        font-size: 1.2rem;
        font-weight: 500;
    }
}

/*Action button styling*/
.actions-wrapper ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 20px;
}

.action-button {
    width: 100px;
    border: none;
    background-color: var(--color-main);
    color: white;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 16px;
}

.action-button:hover {
    background-color: var(--color-select);
}

/*Greeting Layout*/
.greeting {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(2, 50px);
    column-gap: 20px;

    & .user-icon {
        grid-row: 1 / 3;
        width: 100px;
        height: 100px;
    }

    & p.hi {
        font-size: 1.2rem;
        align-self: end;
    }

    & .active-user {
        font-size: 1.6rem;
        align-self: start;
        font-weight: 500;
        line-height: 1;
    }
}


/*Font Family Style*/
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }