/*CSS Reset*/
*, *::before, *::after{
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
}

body {
    line-height: calc(1em + 0.5rem);
    -webkit-font-smoothing: antialiased;
}

img, svg, video {
    display: block;
    max-width: 100%;
}

textarea, button, input, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/*Actual styling*/
:root {
    --color-bg: #fff;
    --color-header: #fff;
    --color-sidebar: #236d98;
    --color-main: #cbe4ea;
}

/*Basic page layout*/
body {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr 5fr;
    
    background-color: var(--color-bg);
}

header {
    grid-column: 2;
    grid-row: 1;

    border: 1px black solid;
    background-color: var(--color-header);
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;

    background-color: var(--color-sidebar);
    color: #fff;
}

.main-content {
    grid-column: 2;
    grid-row: 2;

    background-color: var(--color-main);
}

ul {
    list-style: none;
}

ul a {
    text-decoration: none;
    color: white;
}

/*Sidebar Grid*/
.sidebar {
    padding: 40px 24px;

    font-size: 1.6rem;
    font-weight: bold;
}

nav li a,
h1.branding{
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    grid-gap: 1.2rem;
}

.sidebar h1 {
    font-size: 2.4rem;
    margin-bottom: 4rem;
}

h1 .svg-icon {
    width: 1.3em;
}

.svg-icon {
    width: 1em;
}

nav {
    margin-left: 1rem;

    & ul {
        margin-bottom: 5rem;
    }

    & li {
        margin-bottom: 1.4rem;
    }
}

/*Main Content grid layout*/
.main-content {
    padding: 40px 24px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "projects announcements"
                         "projects trending";
    grid-gap: 20px;
}

.main-content h2 {
    font-weight: 100;
}

.projects {
    grid-area: projects;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}

/*Project cards grid layout*/
.project-card {
    padding: 30px;
    background-color: white;
    border-radius: 16px;
    box-shadow: inset 10px 0 orange;
}

.buttons-wrapper {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: end;
    grid-gap: 2rem;
}

.buttons-wrapper button {
    width: 32px;
    background: transparent;
    border: none;
    outline: none;
}





