/*CSS Reset*/
*, *::before, *::after{
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

body {
    line-height: calc(1em + 0.5rem);
    -webkit-font-smoothing: antialiased;
}

img, svg, video {
    display: block;
    max-width: 100%;
}

textarea, button, input, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/*Actual styling*/
:root {
    --color-bg: #fff;
    --color-header: #fff;
    --color-sidebar: #236d98;
    --color-main: #e2eaeb;
    --color-subtext: #5e5e5e;

    --border-radius: 10px;
    --padding-cards: 1.6rem;
    --shadow-black: 2px 4px 5px rgba(0, 0, 0, 0.2);
}

/*Basic page layout*/
body {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr 5fr;
    
    background-color: var(--color-main);
}

header {
    grid-column: 2;
    grid-row: 1;
    background-color: var(--color-header);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;

    background-color: var(--color-sidebar);
    color: #fff;
}

.main-content {
    grid-column: 2;
    grid-row: 2;
}

ul {
    list-style: none;
}

ul a {
    text-decoration: none;
    color: white;
}

/*Sidebar Grid*/
.sidebar {
    padding: 30px 24px;
    font-size: 1.6rem;
    font-weight: bold;
}

nav li a,
h1.branding{
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    grid-gap: 1.2rem;
}

.sidebar h1 {
    font-size: 2.4rem;
    margin-bottom: 4rem;
}

h1 .svg-icon {
    width: 1.3em;
}

.svg-icon {
    width: 1em;
}

nav {
    margin-left: 1rem;

    & ul {
        margin-bottom: 5rem;
    }

    & li {
        margin-bottom: 1.4rem;
    }
}

/*Main Content grid layout*/
.main-content {
    padding: 40px 24px;

    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: min-content 1fr;
    grid-template-areas: "projects announcements"
                         "projects trending";
    column-gap: 25px;
    row-gap: 50px;
}

.main-content h2 {
    margin-bottom: 1rem;
    font-weight: 100;
}

.projects {
    grid-area: projects;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}

/*Project cards grid layout*/
.projects-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-auto-rows: 305px;
    grid-gap: 24px;

}

.project-card {
    padding: var(--padding-cards);
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: inset 8px 0 orange,
                var(--shadow-black);

    display: flex;
    flex-direction: column;

    & p {
        font-size: 1.2rem;
        color: var(--color-subtext)
    }
}

.buttons-wrapper {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: end;
    grid-gap: 1rem;

    margin-top: auto;
}

.buttons-wrapper button {
    width: 1.6rem;
    background: transparent;
    border: none;
    outline: none;
}

/*Announcements layout*/
.announcements-wrapper {
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: var(--padding-cards);
    box-shadow: var(--shadow-black);
}

.announcements-wrapper h3 {
    font-size: 1.rem;
}
.announcements-wrapper p {
    font-size: 0.9rem;
}

.announcements-wrapper > div + div {
    border-top: 1px solid grey;
    margin-top: 20px;
    padding-top: 20px;
}

/*Trending items' styling*/
.trending-wrapper {
    height: 380px;
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: var(--padding-cards);
    box-shadow: var(--shadow-black);
}

.user-icon{
    display: block;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#user-1 {
    background-image: url("./img/author-1.png");
    background-color: #236d98;
}

#user-2 {
    background-image: url("./img/author-2.png");
    background-color: #239896;
    background-size: 95%;
    background-position-y: bottom;
}

#user-3 {
    background-image: url("./img/author-3.png");
    background-size: 65%;
    background-color: #239848;
}

#user-4 {
    background-image: url("./img/author-4.png");
    background-color: #eca41e;
}

p.trending-title {
    color: var(--color-subtext);
    font-size: 1rem;
}

/*Trending layout*/
li.trending-item {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-areas: "icon name"
                         "icon title";
    column-gap: 16px;
    & > .user-icon {
        grid-area: icon;
    }

    & > .user-name {
        grid-area: name;
        align-self: end;
        font-size: 1.1rem ;
    }

    & > .trending-title {
        grid-area: title;
        font-size: 1rem;
    }
}

li.trending-item + li.trending-item {
    margin-top: 1.6em;
}

/*Header*/
header {
    padding: 30px 60px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;

    & > .actions-wrapper {
        grid-column: 2 / 4;
    }
}

/*Search Styling*/
input[type="search"] {
    appearance: none;
    -webkit-appearance: none;

    position: relative;
    outline: none;
    width: 500px;
    height: 40px;
    border: none;
    background-color: var(--color-main);
    border-radius: 3rem;

    padding: 10px;
}

label[for="search"] {
    content: url("./img/search-icon.svg");
    width: 30px;
    vertical-align: -10px;
    margin-right: 1rem;
}

/*Notification Styling*/
button.notification {
    background: url("./img/Bell\ ring.svg") transparent;
    border: none;
    width: 30px;
    height: 30px;
}

/*User Info Layout*/
.header > .user-info {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 16px;
    & > p {
        font-size: 1.4rem;
        font-weight: bold;
    }
}

/*Action button styling*/
.actions-wrapper ul {
    display: flex;
    gap: 20px;
}

.action-button {
    width: 100px;
    border: none;
    background-color: var(--color-sidebar);
    color: white;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 16px;
}

.action-button:hover {
    background-color: rgb(191, 124, 0);
}

/*Greeting Layout*/
.greeting {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;

    align-items: center;

    font-weight: bold;

    & .user-icon {
        grid-row: 1 / 3;
        width: 100px;
        height: 100px;
    }

    & p.hi {
        font-size: 1.2rem;
        align-self: end;
    }

    & .active-user {
        font-size: 2rem;
        align-self: start;
    }
}
